
table{
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    
}
table.center {
    margin-left: auto;
    margin-right: auto;
}
        

.colum1{
    background-color: aquamarine;
    height:100px;
    width: 50%;
    border: 1px solid black;
    
}
.colum2{
    background-color:darkorange;
    width: 50%;
    height: 100px;
    border: 1px solid black;
    
}
.line{
    size: 3px;
    color: dimgray;
}